# Node modules
frontend/node_modules/
backend/node_modules/

# Build / Cache
frontend/build/
frontend/.cache/

# Log files
*.log

# Misc
.DS_Store
.env
*.zip

# Ignore large unnecessary image
frontend/public/logo512.png
